/* CSS Document */

/* top elements */

*{ 
	margin:0;
	padding:0;
}


body {	
	color: #000;
	font: normal small verdana, arial,Helvetica, sans-serif;
	background-image: url(../images/header.jpg);	
	}


p {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	color: #666666;
	
}



/* links */

a {
	color:#339999; 
	background-color: inherit;
	text-decoration: none;	
}

a:hover {
	background-color: inherit;
	text-decoration: underline;
}

a:hover {
	background-color: inherit;
	text-decoration: underline;
}
/*Classes*/

h1 {
	font-family: Arial;
	font-size: 22px;
	font-weight: bold;
	color: #339999;
	margin-bottom: 10px;
}

h2{
	font-family: Arial;
	font-size: 11px;
	font-weight: normal;
	color: #339999;
	font-style: italic;
	text-decoration: underline;
}

h3{
	font-family: Arial;
	font-size: 13px;
	color: #339999;
	text-align: left;
	line-height: 180%;
	letter-spacing: 2px;
	}
	
/*divs*/

#site{
	width: 779px;
	*width: 780px; /* defini largura do site*/
	margin:0 auto;
	background-color: #000000;
	} 

#unb{
	background-color: #ffffff;
	height: 65px;
	width: 780px;
}

#header{
	height: 170px;
	width: auto;
	
}
   
#logo {
	position: absolute;
	height: 25px;
	padding: 75px 15px;
	margin:10px;
	background-image: url(http://stella.alves.googlepages.com/logounb.jpg);
	background-repeat: no-repeat;
	width: 175px;
	left: 43px;
	top: 29px;
} 

#icones{
	display:inline;
	top:10px;
	*top:10px;
	right:482px;
	font-size: 70%;
	width: 399px;
	position: absolute;
}

#topmenu ul {
	position: absolute;
	right: 0px;
	top: 125px;
	
	
	list-style: none;
	margin: 0;
	padding: 0;
	color: #666666;
}
#topmenu li {
	display: inline;
}
#topmenu li a {
	float: left;
	display: block;
	padding: 0px 18px 7px 0px;
	color: #999999;
	font: 12px Arial;
	text-decoration: none;
}
#topmenu li a:hover {
	color: #666666;
}
#topmenu li a#current  {	
	color: #FFF;	
}

#busca {
	position: absolute;
	top:-21px;
	*top:-28px;	
	right:209px;
	font-size: 90%;
	width: 300px;
} 

 
#rodape{
	width: 756px;
	font-family: Arial;
	color: #666666;
	text-align: center;
	top: 10px;
	bottom: 10px;
	padding-right: 12px;
	padding-left: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
}
 
     
/* menu */

#menu {
	width: 100%;
	height: 56px;
	background-color: #000000;
}

#menu ul {
	list-style: none;
	width: 100%;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float:left;
	height:26px;
	padding-top:10px;
	padding-left:1.05em;
	font-weight:bold;
	padding-right:1.07em;
	*padding-right:1.04em;
	text-align: center;
	text-decoration: none;
	color: #339999;
	font-size: 12px;
	}
#ultimo_link{
*padding-right:1.4em;
}
#menu a:hover{
	background: #339999;
	color: #FFFFFF;
}

#conteudo{
	width: 460px;
	background-color: #fafafa;
	float: left;
	padding-top: 25px;
	padding-right: 35px;
	padding-bottom: 25px;
	padding-left: 35px;
	
}


/*images*/
#conteudo img {
	
	padding: 5px;	
}

 img.float-right {
  margin: 5px 0px 5px 15px;  
}
 img.float-left {
  margin: 5px 15px 5px 0px;
}


/*menu lateral*/


#menulateral{
	width: 208px;
	background-color: #000000;
	float: right;
	font-family: Arial;
	color: #FFFFFF;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: bolder;
	font-size: 12px;
	height: 100%;
	text-transform: capitalize;
	padding-top: 20px;
	padding-bottom: 20px;
}  

#menulateral ul{
	color: #FFFFFF;
	margin:0;
	padding: 0;
	list-style-type: none;
	font-family: Arial;

}

#menulateral li a {
	color: #FFFFFF;
	text-decoration: none;
	display: list-item;
	margin-bottom: 5px;
	*margin-bottom: -10px;
	font-weight: normal;
	border-bottom-width: 0.02cm;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	
}

#menulateral li a, #menu li a:link {
	text-decoration: none;
	display: list-item;
}

#menulateral li a:hover {
	color: #666666;
	}



/* tabela */
table {
	border-collapse: collapse;
	margin: 15px;	
}
th strong {
	color: #FFF;
}
th {
	background: #000000;
	height: 29px;
	padding-left: 12px;
	padding-right: 12px;
	color: #FFF;
	text-align: left;
	font-size: 12px;
}
tr {
	height: 30px;
	
}
td {
	padding-left: 11px;
	padding-right: 11px;
	
}

/* form elements */
form {
	margin: 15px;
	padding: 10px;
	border: 1px solid #EFEFEF; 
	background: #F8F8F8;	
}

label {
	display:block;
	font-weight:bold;
	margin:10px 0;
}

input {
	padding: 2px;
	border: 1px solid #EFEFEF;
	font: normal 1em Arial;	
	color: #666666;
}

textarea {
	width: 280px;
	padding:2px;
	border: 1px solid #EFEFEF;
	font: normal 1em Verdana, 'Trebuchet MS', Tahoma, sans-serif;
	height:100px;
	display:block;		
	color: #666666;
}
input.button { 
	margin: 0; 
	font: bold 1em Arial, Sans-serif; 
	border: 1px solid #EFEFEF;
	padding: 2px 3px; 	
	background: #E8E8E8;
}


/* formulario de busca */

.searchform {
	background-color: transparent;
	border: none;	
	margin: 0; padding: 5px 0 15px 0;	
	width: 250px;	
}
.searchform p { margin: 0; padding: 0; }
.searchform input.textbox { 
	width: 120px;
	color: #666666; 
	height: 18px;
	padding: 2px;	
	vertical-align: top;
}
.searchform input.button { 
	font: bold 12px Arial, Sans-serif; 
	color: #666666;	
	width: 60px;
	height: 26px;
	border: none;
	padding: 3px 5px;	
	vertical-align: top;
}
