	</div>
    
</div><!-- /contentpadding -->



</div><!-- /wrap -->

<div style="clear: both;"></div>

<div class="footer" style='width: {$ABSOLUTION_BOARD_WIDTH};'>
	<!-- Please do not remove the following credit line. This style is free, and attribution such as this helps to keep it in development. Thanks -->
         &copy; Absolution design by Christian Bullock. Powered by phpBB. Traduzido por Suporte phpBB
  <!-- Please do not remove the above credit line. This style is free, and attribution such as this helps to keep it in development. Thanks -->
    <br> Forum administrado por <a href="http://www.hostcia.net" target="_blank">Hosting & CIA</a>  <!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
	<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
</div>


</div><!-- /noise -->

    <script type='text/javascript'>
    // <![CDATA[
       $(function() {
          $('.tip').tipsy({fade: true, gravity: 's'});
       });
    // ]]>
    </script>
<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>
</body>
</html>